.cart_container {
  position: relative;
  -webkit-tap-highlight-color: transparent;
}
.quantity:hover {
  transform: scale(1.2);
  box-shadow: 0px 5px 15px rgba(13, 80, 255, 0.8);
}
.quantity {
  position: absolute;
  top: 7px;
  left: 0;
  background-color: #0d50ff;
  color: #ffffff;
  font-weight: 600;
  font-size: 12px;
  line-height: 90%;
  text-align: center;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 26px;
  transition: transform 0.3s, box-shadow 0.3s ease;
}
