.button {
  font-family: "Montserrat", sans-serif;
  height: 58px;
  border: none;
  border-radius: 6px;
  padding: 16px 32px;
  background: #0d50ff;
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
  text-align: center;
  color: #fff;
  transition: transform 0.3s, box-shadow 0.3s ease;
}
.button:hover {
  background: #282828;
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 0px 5px 15px rgba(13, 80, 255, 0.8);
}
