.header_container {
  background: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 128px;
}
.header_logo {
  margin-left: 40px;
}
.header_logo > a {
  cursor: pointer;
}
.header_logo > a > img {
  border-radius: 50%;
  transition: transform 0.3s ease, filter 0.3s ease;
}
.header_logo > a > img:hover {
  color: #0d50ff;
  transform: scale(1.08);
  filter: drop-shadow(0px 10px 15px rgba(13, 80, 255, 0.8));
}
.header_menu {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.link:hover {
  color: #0d50ff;
  transform: scale(1.08);
  text-shadow: 0px 10px 15px rgba(13, 80, 255, 0.8);
}
.link:not(:last-child) {
  margin-right: 32px;
}
.link {
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  color: #282828;
  cursor: pointer;
  transition: transform 0.3s, text-shadow 0.3s ease;
}
.header_cart {
  margin-right: 40px;
}
/* ---------------------------------------------------------------------------------------------*/
@media (max-width: 767px) {
  .header_logo {
    margin-left: 20px;
  }
  .link:not(:last-child) {
    margin-right: 0px;
  }
  .link {
    font-size: 24px;
  }
  .header_menu {
    display: grid;
    grid-template-columns: 150px 1fr;
    gap: 1vw 10%;
  }
  .header_cart {
    margin-right: 20px;
  }
}
@media (max-width: 510px) {
  .header_logo {
    margin-left: 10px;
  }
  .header_menu {
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 7px 0px;
    padding-top: 0;
    box-sizing: content-box;
  }
  .link {
    font-size: 18px;
  }
}
